# PyCharm #
# User-specific stuff
CameraCode/.idea/**/workspace.xml
CameraCode/.idea/**/tasks.xml
CameraCode/.idea/**/usage.statistics.xml
CameraCode/.idea/**/dictionaries
CameraCode/.idea/**/shelf

# Gradle
CameraCode/.idea/**/gradle.xml
CameraCode/.idea/**/libraries

# Gradle and Maven with auto-import
# When using Gradle or Maven with auto-import, you should exclude module files,
# since they will be recreated, and may cause churn.  Uncomment if using
# auto-import.
CameraCode/.idea/modules.xml
CameraCode/.idea/*.iml
CameraCode/.idea/modules
